#content {
  margin-top: 8%;
  margin-bottom: 8%;
}
#image-and-form {
  margin-left: 4%;
  margin-right: 4%;
  display: flex;

  border: 1px solid black;
}

#hotel-image {
  width: 70%;
  max-height: 400px;
}

#image1,
#image2,
#image3 {
  width: 70%;
  align-items: center;
  margin-left: 15%;
  margin-right: 15%;
}

#hotel-image img {
  max-height: 350px;
  margin-top: 2%;
  margin-bottom: 2%;
}

#payment-form {
  border-left: 1px solid black;
  width: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 400px;
}
#payment-details {
  height: 88%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.labels {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.input-fields {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60%;
}
.input-fields > input {
  width: 100%;
}
#book-now {
  padding: 10px;
}

#hotel-description {
  margin: 1% 4% 2% 4%;
}

#hotel-description h5 {
  font-family: cursive;
}
.arrow {
  font-size: 55px;
  color: rosybrown;
}

/* media queries */
@media only screen and (min-width: 576px) and (max-width: 768px) {
  #content {
    margin-top: 12%;
  }
  #image-and-form {
    margin-left: 1%;
    margin-right: 1%;
  }
  #image1,
  #image2,
  #image3 {
    width: 97%;
    margin-left: 1%;
    margin-right: 1%;
  }
}
@media only screen and (max-width: 576px) {
  #content {
    margin-top: 20%;
    margin-bottom: 20%;
  }
  #image-and-form {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    justify-content: space-around;
  }
  #payment-form {
    border: none;
    border-top: 1px solid black;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  #hotel-image {
    width: 100%;
    max-height: 400px;
  }
  #image1,
  #image2,
  #image3 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    max-height: 350px;
  }
  .book-now {
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .label,
  .input-field {
    margin-top: 5%;
    margin-bottom: 5%;
  }
}
