#content {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  padding-top: 0;
  text-align: center;
  margin-bottom: 15%;
}
#search-bar {
  background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
  height: 380px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
#search-bar > input {
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 12px;
  background-color: #f1f1f1;
  font-size: 16px;
  width: 33%;
}
#search-bar > input:focus {
  outline: none;
}
#main-content {
  margin-top: 5%;
}
.city-cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#list-page {
  margin-top: 4%;
  margin-bottom: 4%;
  padding: 0;
}
.city-cards article {
  margin-top: 4%;
  margin-bottom: 4%;
  display: flex;
  position: relative;

  justify-content: center;
  align-items: center;
}

.city-cards img {
  border-radius: 25%;
  box-shadow: 10px 10px 10px grey;
}

.city-text {
  position: absolute;
  text-align: center;
  color: #f1f1f1;

  display: none;
}

.overlay {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 25%;
}
#list-page {
  margin: 0 auto;
}
#delhi-overlay {
  height: 150px;
  width: 150px;
  position: absolute;
  top: 0;
  left: 0;
}
.city:hover > a .city-text {
  display: block;
}

.overlay:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.city:hover .city-text {
  display: block;
  z-index: 1;
}

.city-text:hover ~ .overlay,
.city-text:hover ~ a .overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

#content img {
  height: 150px;
  width: 150px;
}
#view-more {
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

/* media queries */
@media only screen and (min-width: 768px) {
  .city-cards {
    display: flex;
    flex-direction: row;
  }
  #content {
    margin-bottom: 8%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .city-cards {
    display: grid;
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 576px) {
  .city-cards {
    display: flex;
    flex-direction: column;
  }
  #content {
    margin-bottom: 20%;
  }

  #city a {
    text-align: center;
  }
  #linked-image {
    margin: 0 auto;
  }
}
