#content {
  text-align: center;
}
#search-bar {
  background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
  height: 380px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  vertical-align: middle;
}
#search-bar > input {
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 12px;
  background-color: #f1f1f1;
  font-size: 16px;
  width: 33%;
  margin-top: 160px;
}
#city-cards {
  margin-left: 14%;
  margin-right: 14%;
}

#city-cards img {
  padding: 4%;
  border-radius: 25%;
}
#content img {
  height: 150px;
  width: 150px;
}
#view-more {
  color: black;
  text-decoration: none;
}
