#list-map-li {
  text-align: center;
}
#list-map-view li {
  display: inline;
  text-align: center;
}
#list-map-view a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
li + li {
  margin-left: 40px;
}

#list-view img {
  height: 200px;
  width: 250px;
}

.hotels {
  margin: 2%;
  background-color: rgb(132, 136, 139);
  width: 40%;
  color: black;
  display: inline-block;
}
.hotels a {
  text-decoration: none;
  color: black;
}
#map-view {
  display: none;
}
