#list-map-li {
  text-align: center;
}
#list-map-view li {
  display: inline;
  text-align: center;
}
#list-map-view a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
li + li {
  margin-left: 40px;
}
#list-view {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 6%;
  margin-left: 4%;
  margin-right: 4%;
}

#list-view img {
  height: 200px;
  width: 250px;
}

.hotels {
  margin: 2%;

  background-color: lightgrey;
  width: 100%;
  color: black;
  display: flex;
}
#clickableImage {
  display: flex;
}

.hotels a {
  text-decoration: none;
  color: black;
}
.hotels > a {
  width: 100%;
}
.hotel-desc {
  margin-left: 4%;
}

#map-view {
  display: none;
}
