#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10%;
  margin-bottom: 10%;
}
#hotel-details img {
  max-height: 300px;
  max-width: 270px;
}
#hotel-details {
  display: flex;
}
#hotel-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 4%;
}
#hotel-details {
  height: 20%;
  margin: 2% auto;

  background-color: rgb(132, 136, 139);
}
#payment-details {
  margin: 2%;
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rosybrown;
}
#payment-details strong {
  font-family: cursive;
}
#customer-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#bill-amount {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#pay-now-section {
  display: flex;
  align-items: center;
}
#paynow {
  text-decoration: none;
  color: white;
  font-family: "Ubuntu", sans-serif;
}

/* media queries */
/* @media only screen and (min-width: 576px) and (max-width: 768px) {
  
} */
@media only screen and (max-width: 576px) {
  #content {
    margin-top: 20%;
    margin-bottom: 20%;
  }
  #payment-details {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #payment-details,
  #customer-details,
  #bill-amount {
    display: flex;
    flex-direction: column;
  }
  #paynow-button {
    margin: 0 auto;
  }
  #hotel-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  #hotel-image > img {
    margin: 0 auto;
  }
  #hotel-desc {
    text-align: center;
  }
}
